# Data-Processing

## Bikesharing Dataset

### Importing the Dataset and the libraries needed for processing

In [1]:
import pandas as pd
import numpy as np
import math
from datetime import datetime, timedelta, date, time
from haversine import haversine
import pickle

import warnings
warnings.filterwarnings("ignore")

df_la_2018 = pd.read_csv("data/la_2018.csv")

In [2]:
df_la_2018.head()

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name
0,2018-01-01 00:04:00,2018-01-01 00:25:00,3063,3018,5889,Walk-up,Pershing Square,Grand & Olympic
1,2018-01-01 00:05:00,2018-01-01 00:25:00,3063,3018,6311,Walk-up,Pershing Square,Grand & Olympic
2,2018-01-01 00:06:00,2018-01-01 00:25:00,3063,3018,5753,Walk-up,Pershing Square,Grand & Olympic
3,2018-01-01 00:13:00,2018-01-01 00:35:00,3018,3031,6220,Monthly Pass,Grand & Olympic,7th & Spring
4,2018-01-01 00:14:00,2018-01-01 00:59:00,4204,4216,12436,Monthly Pass,Washington & Abbot Kinney,17th St / SMC E Line Station

In [3]:
# rename some columns for the sake of convenience
df_la_2018.rename(columns = {'start_station_id':'start_station'}, inplace = True)
df_la_2018.rename(columns = {'end_station_id':'end_station'}, inplace = True)

In [4]:
df_la_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311894 entries, 0 to 311893
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   start_time          311894 non-null  object
 1   end_time            311894 non-null  object
 2   start_station       311894 non-null  int64
 3   end_station         311894 non-null  int64
 4   bike_id             311894 non-null  int64
 5   user_type           311894 non-null  object
 6   start_station_name  311894 non-null  object
 7   end_station_name    311894 non-null  object
dtypes: int64(3), object(5)
memory usage: 19.0+ MB

### Additional Date related Features
As we want to gain deep insight into the Bikesharing business at specific timeframes we want to generate additional date related features. We can do this by casting the start- and end time to pandas datetime objects.

In [5]:
# Cast start- & end_time to datetime 

df_la_2018["start_time"] = pd.to_datetime(df_la_2018["start_time"])
df_la_2018["end_time"] = pd.to_datetime(df_la_2018["end_time"])

#Add some Date related collumns to the dataframe
df_la_2018["hour"] = df_la_2018["start_time"].apply(lambda x: x.hour)
df_la_2018["week_day"] = df_la_2018["start_time"].apply(lambda x: x.weekday())
df_la_2018["day"] = df_la_2018["start_time"].apply(lambda x: x.strftime("%d/%m/%Y"))
df_la_2018["month"] = df_la_2018["start_time"].apply(lambda x: x.month)

### Addional Datasets
Additional data was available on the Los Angeles Bikeshare Metro website. We will use this data to improve our ability to visualize the data and predict future demand. Since the data was splitted into quarters, we must first combine it into a single data frame.

In [6]:
df_la_q1 = pd.read_csv("data/metro-bike-share-trips-2018-q1.csv")
df_la_q2 = pd.read_csv("data/metro-bike-share-trips-2018-q2.csv")
df_la_q3 = pd.read_csv("data/metro-bike-share-trips-2018-q3.csv")
df_la_q4 = pd.read_csv("data/metro-bike-share-trips-2018-q4.csv")
df_la_2018_extension = pd.concat([df_la_q1,df_la_q2,df_la_q3,df_la_q4])
df_la_2018_extension = df_la_2018_extension.reset_index()
df_la_2018_extension.drop("index", axis=1)
df_la_2018_extension.head()

,index,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,0,65406367,21,2018-01-01 00:04:00,2018-01-01 00:25:00,3063,34.049198,-118.252831,3018,34.043732,-118.260139,5889,0,One Way,Walk-up,NaN
1,1,65406366,20,2018-01-01 00:05:00,2018-01-01 00:25:00,3063,34.049198,-118.252831,3018,34.043732,-118.260139,6311,0,One Way,Walk-up,NaN
2,2,65406365,19,2018-01-01 00:06:00,2018-01-01 00:25:00,3063,34.049198,-118.252831,3018,34.043732,-118.260139,5753,0,One Way,Walk-up,NaN
3,3,65406364,22,2018-01-01 00:13:00,2018-01-01 00:35:00,3018,34.043732,-118.260139,3031,34.044701,-118.252441,6220,30,One Way,Monthly Pass,NaN
4,4,65406362,45,2018-01-01 00:14:00,2018-01-01 00:59:00,4204,33.988419,-118.451630,4216,34.023392,-118.479637,12436,30,One Way,Monthly Pass,NaN

### Missing Data in the extension set
As we can see, there are some columns with missing data (null values). The affected columns include: start_lat, start_lon, end_lat, end_lon and bike_type.

In [7]:
df_la_2018_extension.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311894 entries, 0 to 311893
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                311894 non-null  int64
 1   trip_id              311894 non-null  int64
 2   duration             311894 non-null  int64
 3   start_time           311894 non-null  object
 4   end_time             311894 non-null  object
 5   start_station        311894 non-null  int64
 6   start_lat            311146 non-null  float64
 7   start_lon            311146 non-null  float64
 8   end_station          311894 non-null  int64
 9   end_lat              306771 non-null  float64
 10  end_lon              306771 non-null  float64
 11  bike_id              311894 non-null  int64
 12  plan_duration        311894 non-null  int64
 13  trip_route_category  311894 non-null  object
 14  passholder_type      311894 non-null  object
 15  bike_type            73867 non-null   object
dtypes: float64(4), int64(7), object(5)
memory usage: 38.1+ MB

In [8]:
# We can add the duration feature directly, since it does not contain null values.
df_la_2018["duration"] = df_la_2018_extension["duration"]

 A look at the units with missing coordinates reveals that these enteties belong to a specific bike station (3000). According to the Bikeshare Metro website, this station is a "Virtual Station" used by employees to check in or check out a bike remotely for a special event or in a situation in which a bike could not otherwise be checked in or out to a station. As we want to gain knowledge about popular routes and disttances driven, we need the start/end coordinates of a trip as a tuple. Since no start/end coordinates are specified for the entities with start/end station 3000, we decided to fill these entities assuming that the missing values correspond to the existing values (start/end station specified). Since we cannot use haversine when the starting station is equal to the ending station, we decided that the time traveled divided by the average speed could be a valid value for calculating the distance traveled.

In [20]:
# Combine longitude/latitude

df_la_2018_extension["start_coordinates"] = list(zip(df_la_2018_extension["start_lat"].round(4),df_la_2018_extension["start_lon"].round(4)))
df_la_2018_extension["end_coordinates"] = list(zip(df_la_2018_extension["end_lat"].round(4),df_la_2018_extension["end_lon"].round(4)))

#Add Collums to the original Dataframe

df_la_2018["start_coordinates"] = df_la_2018_extension["start_coordinates"]
df_la_2018["end_coordinates"] = df_la_2018_extension["end_coordinates"]

#Calculating the distances driven (using Haversine if the coordinates are available) OTHERWISE -1 IS RETURNED!

def calculateDistance(x):
    if(math.isnan(x["start_coordinates"][0])|math.isnan(x["start_coordinates"][1])|math.isnan(x["end_coordinates"][0])|math.isnan(x["end_coordinates"][1])|(x["start_coordinates"]==x["end_coordinates"])): return -1
    return haversine(x["start_coordinates"], x["end_coordinates"])

df_la_2018["distance"] = df_la_2018.apply(lambda x: calculateDistance(x), axis=1)

#Calculate the speed IF THE DISTANCE IS != -1 OTHERWISE 12 IS RETURNED!

def calculateSpeed(x):
    if(x["distance"]!=-1): return (x["distance"]/(x["duration"]/60)
    return 12
        
df_la_2018["km/h"] = df_la_2018.apply(lambda x: calculateSpeed(x), axis=1)

SyntaxError: unexpected EOF while parsing (<ipython-input-20-ecc5db1ec788>, line 22)

Another factor of interest is the type of bike ridden, as prices differ between standard and electric bikes. We found that for some entitie we can draw conclusions about the bike_type, since some bike_id's provide information about what type of bike it is. Unfortunately, this is not the case for all entities, so we assumed that the missing values correspond to the more common standard bike.

In [ ]:
# The unique ID's of bikes for which the type is specified 
bike_ids_with_type = df_la_2018_extension[pd.isna(df_la_2018_extension["bike_type"])==False]["bike_id"].unique()

# The unique ID's of bikes for which the type isnt specified 
bike_ids_without_type = df_la_2018_extension[pd.isna(df_la_2018_extension["bike_type"])]["bike_id"].unique()

# If the arrays are equal, we can infer each individual bike_type
print(np.array_equal(bike_ids_with_type, bike_ids_without_type))
np.setdiff1d(bike_ids_without_type, bike_ids_with_type, assume_unique=False)

In [ ]:
bike_type_by_id = df_la_2018_extension[pd.isna(df_la_2018_extension["bike_type"])==False][["bike_id","bike_type"]]

def getBikeType(id):
    return bike_type_by_id[bike_type_by_id["bike_id"]==id]["bike_type"].unique()

def fillMissingBikeTypes(x):

    if(pd.isna(x["bike_type"])):
        if(x["bike_id"] in bike_ids_with_type):
             return getBikeType(x["bike_id"])[0]
        else: return "standard"
    return x["bike_type"]
    
df_la_2018_extension["bike_type"] = df_la_2018_extension.apply(lambda x: fillMissingBikeTypes(x), axis=1)

In [ ]:
df_la_2018_extension.info()

Since the "bike_type" column does not contain null values anymore, we can now add it to the original data frame

In [ ]:
df_la_2018["bike_type"] = df_la_2018_extension["bike_type"]

### Droping outliers and redundant features

In [ ]:
df_la_2018.head()

In [ ]:
#Drop enteties with start- & end station 3000 as they dont represent customer rides
df_la_2018.drop(df_la_2018[(df_la_2018["start_station"]==3000)&(df_la_2018["end_station"]==3000)].index, inplace=True)

#Drop rides with > 25 kmh 
df_la_2018.drop(df_la_2018[df_la_2018["km/h"]>25].index, inplace=True)

#Drop start_station_name & start_station_name as we can identifie the station by its id 
df_la_2018.drop(["start_station_name", "end_station_name"], axis=1, inplace=True)

In [ ]:
df_la_2018.head()

In [ ]:
df_la_2018.to_pickle("Data/df_la_2018.pickle")